/************************************************************************************
General Styling
************************************************************************************/

.hide {
    display:none;
}

.red {
    color:#FF0000;
}
/************************************************************************************
End General Styling
************************************************************************************/



p {
    line-height:1.1;
    font-size:.9;
}

.align-right {
    text-align: right;
}

.panel {
    padding:1.0em;
    margin-bottom:0px;
}


#log-wrapper {
    z-index: 100000;
    position:fixed;
    background-color: #000000;
    height: 100%;
    
}

#log {
    background-color: #000000;
    color:#00DD00;
    overflow-y:scroll;
    font-size:0.9em;
    height:70%;
    width:99%;
}

#sensor-values {
    height:38px;
    position:fixed;
    z-index: 100000;
}


#ready-state .label{
    display: inline-block;
}

#sensor-values {
    background-color: #000000;
    color:#EE00EE;
    height:13%;
}

#footer {
    height:20%;
}

.padded {
    padding:5px;
}

.hide {
    display:none;
}

#controls li {
    padding:0;
}

#controls li .button {
    margin:0;
}



/************************************************************************************
Controls Styling
************************************************************************************/

.controls .button {
  width:100%;
  margin-bottom: 0;
}

.button.small{
    margin:0;
}


/************************************************************************************
End Controls Styling
************************************************************************************/


/************************************************************************************
Camera Layout Styling
************************************************************************************/

#camera.content {
    max-width:914px;
    margin:auto;
}

#left-panel {
    width:15%;
    height:100%;
    float:left;
}

#right-panel {
    width:15%;
    height:100%;
    float:right;
}

#center-panel {
    width:70%;
    float:left;
}

#camera.content .controls button {
    margin-bottom:0;
}

#camera-1 {
    /* max-width: none; */
    background:black;
}
#camera-1 img {
    height:300px;
    /* max-width: none; */
}



#content.camera .transparent {
    background-color: rgba(0,0,0,0.3);
}


#camera.content #log-wrapper {
    height:60px;
    z-index: 100000;
    position:fixed;
    background-color:transparent;
}

