<!DOCTYPE html>
<head>


<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
<script>


    WSHandler = function(){
        var self = this;

        this.DOMAIN = "173.255.213.55:9093"
        this.nlogs= 0;
        this.max_nlogs = 20;
        
        this.setup = function(){
        // Creates the websocets connection{

        this.host =  "ws://"+ this.DOMAIN +"/ws";      // combines the three string and creates a new string
        this.socket = new WebSocket(this.host);
                
        // event handlers for websocket
        if(self.socket){
            self.socket.onopen = function(){
                console.log("connection opened....");
                arrows();     // function for detecting keyboard presses
                buttons();    // function for detecting the button press on webpage
                self.showReadyState("open");
            }

            self.socket.onmessage = function(msg) {
                try {
                  var data = JSON.parse(msg.data);
                  if ('sensor_values' in data) updateSensorValues(data.sensor_values)
                } catch (e) {
                  _log(msg.data);
                }
            }

             self.socket.onclose = function(){
                //alert("connection closed....");
                _log("The connection has been closed.");
                self.showReadyState("closed");
             }

             self.socket.onerror = function(){
                //alert("connection closed....");
                _log("The was an error.");
                self.showReadyState("error");
             }
            } // End if socket
            
            else
            {
              self._log("invalid socket");
            }
            
        } // End setup()
    
        _log = function (txt){

            $log = $("#log");
            $newRow = $("<div>");
            $newRow.text(txt);
            $log.append($newRow);
            $log.scrollTop($log[0].scrollHeight);
            self.nlogs++;
            if (self.nlogs > self.max_nlogs){
                $log.eq(0).detach();
            }
        };

        showReadyState = function(state){
           $el =  $("#ready-state");
           $el.find("span").hide();
           $("#ready-state ."+state).show();
        };

    };

    $(document).ready(function(){
        ws = new WSHandler();
        ws.setup();
    });

</script>

<style type="text/css">
    

#log-wrapper {
    z-index: 100000;
    position:fixed;
    background-color: #000000;
    height: 100%;
    
}

#log {
    background-color: #000000;
    color:#00DD00;
    overflow-y:scroll;
    font-size:0.9em;
    height:70%;
    width:99%;
}


</style>

</head>

<body>
    <h1>Ardyh.io</h1>

    <h2>Connected Lilybots</h2>

    <div id="ready-state" class="large-3 small-2 columns">
        <label>Status:</label> 
        <span class="label success hide connecting">CONNECTING</span>
        <span class="label success hide open">OPEN</span>
        <span class="label secondary hide closing">CLOSING</span>
        <span class="label secondary hide closed">CLOSED</span>
        <span class="label hide error">ERROR</span>
      </div>
    
    <div id="log-wrapper">
        <div id="log"></div>
    </div>

</body>