p {
    line-height:1.1;
    font-size:.9;
}

.panel {
    padding:1.0em;
    margin-bottom:0px;
}

.button {
  width:100%;
}

.button.small{
    margin:0;
}

#log-wrapper {
    background-color: #000000;
    
    height:100%;
}

#log {
    background-color: #000000;
    color:#00DD00;
    overflow:scroll;
    font-size:0.9em;
    height:95%;
}

#sensor-values {
    color:#EE00EE;
}


.padded {
    padding:5px;
}

.hide {
    display:none;
}

#controls li {
    padding:0;
}

#controls li .button {
    margin:0;
}