
.button {
  width:100%;
}

#log-wrapper {
    background-color: #000000;
    color:#EE00EE;
}

#log {
    height:300px;
    background-color: #000000;
    color:#00DD00;
    overflow:auto;
}


#sensor_values span {
    width:30px;
}

.padded {
    padding:5px;
}

.hide {
    display:none;
}

#controls li {
    padding:0;
}

#controls li .button {
    margin:0;
}